---
layout: default
---

<article class='post'>
  <h1 class='post-title'>{{ page.title }}</h1>
  <div class="post-date">{{ page.date | date: "%b %-d, %Y" }}</div>
  {{ content }}
</article>

<link rel="me" href="https://indieweb.social/@alexesc" />
<link rel="me" href="https://social.librem.one/@alexesc" />
<link rel="me" href="https://todon.nl/@alexesc" />
<link rel="me" href="https://medium.com/blog-post-highlights" />
<link rel="me" href="https://keybase.io/alexesc" />
<link rel="me" href="https://twitter.com/alex_esc_tweets" />
<link rel="me" href="https://github.com/alex-esc" />
<link rel="me" href="https://www.reddit.com/user/alex_esc" />
<link rel="me" href="https://micro.blog/alexesc" />